{%
setvar("layout", "themes/modern.html")

heads = heads or {}

favicon = [[
<link rel="icon" type="image/png" href="/favicon.png">]]
heads["favicon"] = favicon

google_verification = [[
<meta name="google-site-verification" content="ElVFsZ6LGyKeDhlRw1EguZnrYfvuOkItNGGV_nTH-2o" />]]
heads["google_verification"] = google_verification

description = "Algorithms, Lifestyle, Game design"
title = [[<a href="/">Antoine's blog</a>]]

heads["description"] = [[
<meta name="description" content="Algorithms, Lifestyle, Game design" />
]]

%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400..800;1,400..800');

    p a,
    li a {
        text-decoration: underline;
    }

    .asg-code>* {
        overflow: auto;
        padding: 8px;
    }

    .card.post:hover {
        /*animation: wiggle 0.5s infinite;*/
        transform: scale(1.01);
    }

    .card.post:active {
        transform: scale(0.99);
    }

    .card p {
        font-size: 20px;
        font-family: "Roboto", "Arial", sans-serif;
        line-height: 1.5;
        margin: 0;
    }

    .card.intro p {
        padding: 0;
    }

    .posts:has(> .card) .end_banner {
        margin-bottom: 32px;
    }

    .end_banner {
        display: flex;
        background-color: black;
        color: white;
        margin-left: -32px;
        margin-right: -32px;
        margin-top: 32px;
        padding: 16px;
        align-items: center;
    }

    .posts p {
        /* Override the modern theme as sans-serif looks better */
        font-family: "Roboto", "Arial", sans-serif;
    }

    .posts li {
        font-family: "Roboto", "Arial", sans-serif;
    }

    .posts {
        display: flex;
        flex-direction: column;
    }

    .posts blockquote {
        border-radius: 8px;
        background-color: #36f;
        color: white;
        padding: 8px;
        margin: 16px 8px;
    }

    .posts .grow {
        flex-grow: 1;
    }

    pre code {
        display: block;
        padding: 1em;
        overflow-x: auto;
        background-color: #f3f3f3;
        color: #000;
    }

    .posts .end_banner .presentation {
        padding-left: 16px;
        font-weight: semibold;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 1.5em;
    }

    .posts .end_banner .smaller {
        font-size: 0.8em;
    }

    .posts .end_banner img {
        height: 128px;
        width: 128px;
        padding: 0;
        margin: 0;
        border-radius: 99999px;
    }
</style>

{{ body }}

{% if add_pic then %}
<div id="gitalk-container"></div>
<div class="grow"></div>
<div class="end_banner">
    <img src="https://gravatar.com/avatar/837df542625a45406dc6b7155e91fc24edafa1fd4ef5785a72f7049743fbd6a4?s=512" />
    <div class="presentation">
        <div>About the author</div>
        <div class="smaller"><a href="https://vanyle.github.io/about.html">Antoine Delègue is a Fullstack Software
                Engineer</a></div>
    </div>
</div>

<!-- Comment system-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    const gitalk = new Gitalk({
        clientID: 'Ov23liVmU5nACW7Hf7Il',
        // secret matters less in oauth2. At worst, you can impersonate this login system to post comments, who cares?
        clientSecret: '122d6d3d014426a6e10c138444161987086cf848',
        repo: 'vanyle.github.io',
        owner: 'vanyle',
        admin: ['vanyle'],
        id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false,  // Facebook-like distraction free mode
        pagerDirection: 'last',
    });
    gitalk.render('gitalk-container');
</script>

{% end %}

{% if production ~= nil then %}

<!-- 100% privacy-first analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""
        referrerpolicy="no-referrer-when-downgrade" /></noscript>
{% end %}